*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.contenedor-header{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(48, 48, 48);
    padding-top: 0.1px;
    border-bottom: 2px solid rgb(158, 111, 24);
    margin-bottom: 0px;
}

.logo{
    width: 33%;
    height: 60px;
    margin-top: -12px;
    margin-left: 40px;
}

.texto_banner{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    color: #c0b5b5;
}

.texto_banner--color{
    color: rgb(197, 135, 20);
}

.barra-nav{
    width: 60%;
    height: 60px;
}

.lista-nav{
    width: 95%;
    height: 100%;
    text-align: right;
    margin: 0 0 0 50px;
}

.item_nav{
    display: inline-block;
    margin: 14px 10px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.enlace_nav{
    color: rgb(192, 181, 181);
    text-decoration: none;
}

.enlace_nav--color{
    color: rgb(197, 135, 20)
}

.enlace_nav--hover:hover{
    color: rgb(138, 94, 13)
}








/* parte central */

.main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../images/img-filosofia.jpg");
    background-size: cover;
}

.texto__filo{
    position: absolute;
    top: 2rem;
    left: 2.5rem;
    width: 60%;
    height: 15rem;
}

.title__filo{
    display: inline-block;
    margin-right: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #c7c7c7;
    border-bottom: 2px solid rgb(197, 135, 20);
}

.title__filo--color{
    border: none;
    font-family: 'Roboto', sans-serif;
    margin-left: 1rem;
    letter-spacing: 2.5px;
    color: rgb(197, 135, 20);
}

.secondtitle__filo{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #c7c7c7;
}

.thirdtitle__filo{
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    color: rgb(197, 135, 20);
}

.grid__container{
    position: absolute;
    top: 200px;
    display: grid;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: repeat(3,28%);
    gap: 20px 10px;
    justify-content: center;
    align-content: center;
    width: 70%;
}

.grid__item{
width: 80%;
height: 120px;
font-family: 'Poppins', sans-serif;
font-size: 1 rem;
letter-spacing: 0.3rem;
padding-top: 83px;
color: #f38910;
border-radius: 3px;
box-shadow: 9px 10px 22px -10px rgba(238, 130, 7, 0.75);
}

.grid__item--socrates{
background-image: url("../images/grid1/socrates.jpg");
background-size: cover;
}
.grid__item--platon{
    background-image: url("../images/grid1/platon.jpg");
    background-size: cover;
}
.grid__item--aristo{
    background-image: url("../images/grid1/aristo.jpg");
    background-size: cover;
}
.grid__item--rc{
    background-image: url("../images/grid1/rcoper.jpg");
    background-size: cover;
}
.grid__item--descar{
    background-image: url("../images/grid1/Rene.jpg");
    background-size: cover;
}
.grid__item--kant{
    background-image: url("../images/grid1/kant.jpg");
    background-size: cover;
}
.grid__item--darwin{
    background-image: url("../images/grid1/darwin.jpg");
    background-size: cover;
}
.grid__item--niet{
    background-image: url("../images/grid1/niet.jpeg");
    background-size: contain;
}
.grid__item--freud{
    background-image: url("../images/grid1/freud.jpg");
    background-size: cover;
}



/* parte del pie */

.pie{
    display: flex;
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-top: 2px solid rgb(221, 173, 83);
    background-color: rgb(48, 48, 48);
}

.texto-pie{
    width: 50%;
    margin-left: 35px;
    font-family: 'Poppins', sans-serif;
}

.title_pie{
    display: inline-block;
    font-size: 25px;
    margin-top: 14px;
    letter-spacing: 2px;
    color: #c0b5b5;
}

.title_pie--color{
    color: rgb(197, 135, 20);
}

.text_pie{
    display: inline-block;
    color: #c0b5b5;
    font-size: 15px;
    margin-top: -25px;
}

.enlaces{
    position: relative;
    width: 50%;
}

.boton-pie{
    width: 100px;
    height: 40px;
    margin-top: 28px;
    margin-left: 200px;
    padding-top: 9px;
    border: 2px solid rgb(31, 29, 29);
    box-shadow: 3px 3px 3px -1px rgba(18,17,17,0.58);
    background-color: rgb(179, 125, 27);
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.link-boton-pie{
    text-decoration: none;
    color: #c7c7c7;
}

.boton-pie:hover{
    background-color: rgb(138, 94, 13);
    color: rgb(236, 229, 229);
}

.sobre-icono{
    position: absolute;
    display: inline-block;
    color: rgb(223, 148, 37);
    top:24px;
    left: 310px;
    font-size: 50px;
}

.sobre-icono:hover{
    color: rgb(153, 99, 17);
}

.whats-icono{
    position: absolute;
    display: inline-block;
    color: rgb(223, 148, 37);
    top:95px;
    left: 220px;
    font-size: 40px;
}

.game-icono{
    position: absolute;
    display: inline-block;
    color: rgb(223, 148, 37);
    top:97px;
    left: 275px;
    font-size: 40px;
}

.share-icono{
    position: absolute;
    display: inline-block;
    color: rgb(223, 148, 37);
    top:97px;
    left: 330px;
    font-size: 37px;
}

.whats-icono:hover, .game-icono:hover, .share-icono:hover{
    color: rgb(153, 99, 17);
}