*{
    box-sizing: border-box;
}

body{
    margin: 0;
}


/* Estilos header */   /* Estilos header */   /* Estilos header */


.contenedor-header{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(48, 48, 48);
    padding-top: 0.1px;
    border-bottom: 2px solid rgb(158, 111, 24);
    margin-bottom: 0px;
}

.logo{
    width: 33%;
    height: 60px;
    margin-top: -12px;
    margin-left: 40px;
}

.texto_banner{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    color: #c0b5b5;
}

.texto_banner--color{
    color: rgb(197, 135, 20);
}

.barra-nav{
    width: 60%;
    height: 60px;
}

.lista-nav{
    width: 95%;
    height: 100%;
    text-align: right;
    margin: 0 0 0 50px;
}

.item_nav{
    display: inline-block;
    margin: 14px 10px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.enlace_nav{
    color: rgb(192, 181, 181);
    text-decoration: none;
}

.enlace_nav--color{
    color: rgb(192, 181, 181);
}

.enlace_nav:hover{
    color: rgb(138, 94, 13)
}


/* Estilos Formulario contacto */

.contenedor{
    margin-top: 0;
    height: 100vh;
    background-image: url("../images/img-contacto.jpg");
    background-size: cover;
}

.form{
    width: 60%;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    position: relative;
    top: 30px;
    left: 260px;
    padding: 20px;
    text-align: center;
}

.form__label{
    display: inline-block;
    width: 60%;
    text-align: left;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem ;
    font-weight: 500;
    color: rgb(192, 181, 181);
}

.form__input{
    display: inline-block;
    width: 60%;
    margin: 1rem auto;
    background-color: rgb(10, 10, 10);
    border: none;
    border-bottom: 2px solid rgb(138, 94, 13) ;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem ;
}

.form__input--area{
    height: 5rem;
    resize: none;
}

.form__input--boton

.form__input:focus, .form__input--area:focus{
    outline:none
}

.form__input--boton{
    background-color: rgb(197, 135, 20);
    color: #1f1e1e;
    border: none;
    border-radius: 3px;
    padding: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.form__input--boton:hover{
    background-color: rgb(133, 88, 5);
    color: #beb9b9;
}


.form__title{
    margin: 1rem auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    color: rgb(197, 135, 20);
}

/* Estilos footer */   /* Estilos footer */    /* Estilos footer */


.pie{
    display: flex;
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-top: 2px solid rgb(221, 173, 83);
    background-color: rgb(48, 48, 48);
}

.texto-pie{
    width: 50%;
    margin-left: 35px;
    font-family: 'Poppins', sans-serif;
}

.title_pie{
    display: inline-block;
    font-size: 25px;
    margin-top: 14px;
    letter-spacing: 2px;
    color: #c0b5b5;
}

.title_pie--color{
    color: rgb(197, 135, 20);
}

.text_pie{
    display: inline-block;
    color: #c0b5b5;
    font-size: 15px;
    margin-top: -25px;
}

.enlaces{
    position: relative;
    width: 50%;
}

.boton-pie{
    width: 100px;
    height: 40px;
    margin-top: 28px;
    margin-left: 200px;
    padding-top: 9px;
    border: 2px solid rgb(31, 29, 29);
    box-shadow: 3px 3px 3px -1px rgba(18,17,17,0.58);
    background-color: rgb(179, 125, 27);
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.link-boton-pie{
    text-decoration: none;
    color: #c7c7c7;
}

.boton-pie:hover{
    background-color: rgb(138, 94, 13);
    color: rgb(236, 229, 229);
}

.sobre-icono{
    position: absolute;
    display: inline-block;
    color: rgb(223, 148, 37);
    top:24px;
    left: 310px;
    font-size: 50px;
}

.sobre-icono:hover{
    color: rgb(153, 99, 17);
}

.whats-icono{
    position: absolute;
    display: inline-block;
    color: rgb(223, 148, 37);
    top:95px;
    left: 220px;
    font-size: 40px;
}

.game-icono{
    position: absolute;
    display: inline-block;
    color: rgb(223, 148, 37);
    top:97px;
    left: 275px;
    font-size: 40px;
}

.share-icono{
    position: absolute;
    display: inline-block;
    color: rgb(223, 148, 37);
    top:97px;
    left: 330px;
    font-size: 37px;
}

.whats-icono:hover, .game-icono:hover, .share-icono:hover{
    color: rgb(153, 99, 17);
}